<form action="/users">
  <ul>
    <li><input name="user[github]" value="<%=user.github%>"></li>
    <li><input name="user[twitter]" value="<%=user.twitter%>"%></li>
    <li><input name="user[email]" value="<%=user.email%>"%></li>
    <li><input name="user[linkedin]" value="<%=user.linkedin%>"</li>
    <li><input name="user[personal_site]" value="<%=user.personal_site%>"</li>
    <li><input name="user[blog_url]" value= "<%=user.blog_url%>"></li>
    <input type="hidden" name="form" value="links">
  </ul>
</form>
TEST