<form action="/users" id="user">
  <ul>
    <li><input name="user[github]" value="<%=user.github%>" placeholder="github"></li>
    <li><input name="user[twitter]" value="<%=user.twitter%>" placeholder="twitter"></li>
    <li><input name="user[email]" value="<%=user.email%>" placeholder="email"></li>
    <li><input name="user[linkedin]" value="<%=user.linkedin%>" placeholder="linkedin"></li>
    <li><input name="user[personal_site]" value="<%=user.personal_site%>" placeholder="personal site"></li>
    <li><input name="user[blog_url]" value= "<%=user.blog_url%>" placeholder="blog"></li>
    <input type="hidden" name="form" value="links">
  </ul>
</form>
