<ul class="jobinfo" style="width: 90%">
<i class="fa fa-pencil-square-o" aria-hidden="true" data-select="edit" data-type="links"></i>
  <li><%=link_to "github", "http://github.com/#{user.github}"%></li>
  <li><%=link_to "twitter", "https://twitter.com/#{user.twitter}"%></li>
  <li><%=user.email%></li>
  <li><%=link_to "linkedin", "https://linkedin.com/in#{user.linkedin}"%></li>
  <li><%=link_to "personal site", user.personal_site%></li>
  <li><%=link_to "blog", user.blog_url%></li>
</ul>