<section id="port-item-details">
  <div class="container-fluid padding-side-60">
     <div class="post-header">
        <div class="e-divider-2"></div>
     </div>
     <div class="e-divider-4"></div>
     <div class="row profile-row">
        <div class="col-md-4">
          <%= image_tag @user.show_avatar, class: "img-responsive", id: "profile-pic", style: "padding-bottom: 20px;"%>
           <div>
             <ul class="jobinfo">
              <li><%=link_to "github", "http://github.com/#{@user.github}"%></li>
              <li><%=link_to "twitter", "https://twitter.com/#{@user.twitter}"%></li>
              <li><%=@user.email%></li>
              <li><%=link_to "linkedin", "https://linkedin.com/in#{@user.linkedin}"%></li>
              <li><%=link_to "personal site", @user.personal_site%></li>
              <li><%=link_to "blog", @user.blog_url%></li>
            </ul>
           </div>
           <div class="e-divider-4"></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <div>
            <h3 class="font-accident-two-normal e-uppercase"><%= @user.full_name %></h3>
            <div class="e-divider-2"></div>
            <p>
              <%= @user.bio %>
            </p>
          </div>
          <div id="user-projects">
            <%= render partial: 'users/projects', locals: {projects: @user.projects}  %>
          </div>
        </div>
     </div>
  </div>
</section>

