<% if remotipart_submitted? %>
  <%- rendering = j render(partial: 'projects/new_form', locals: {project: Project.new}).to_str %>
  $("#project-form").html("<%= rendering %>")
  $("#panel-update").append("<div class='panel panel-success custom'>successfully added!</div>")
   <%- rendering = j render(partial: 'users/projects', locals: {projects: current_user.projects}).to_str %>
  $("#user-projects").html("<%= rendering %>")

<% else %>
  $("#project-form").html("<%= j render(partial: 'projects/new_form', locals: {project: @project}) %>")
  $("#panel-update").append("<%= j render(partial: 'projects/success') %>")
  $("#user-projects").html("<%= j render partial: 'users/projects', locals: {projects: current_user.projects} %>")
<% end %>


