
      <!-- / Header -->

      <!-- Content Sections -->
      <div id="content">
         <!-- Revolution Slider -->
         <div id="my-slider">
         <section class="slider-revolution" style="height: 450px;">
            <div class="rev_slider_wrapper" style="opacity: .5">
               <div id="slider1" class="rev_slider head-overlay" data-version="5.0">
                  <ul>
                     <% @featured.each do |featured_project| %>
                     <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                         data-thumb="rs-images/fullslide1-320x200.jpg" data-saveperformance="off"
                         data-title="Slide",
                        <!-- MAIN IMAGE -->
                        <%=image_tag featured_project.screenshot.url, alt: "fullslide2",
                             data_bgposition: "center center",
                             data_bgfit: "cover",
                             data_bgrepeat: "no-repeat",
                             style: "height: 200px;"%>

                        <div class="tp-caption cap-title font-accident-two-normal color00 e-uppercase tp-resizeme rs-parallaxlevel-2" id="my-title"
                             data-x="left"
                             data-y="bottom"
                             data-basealign="grid"
                             data-voffset="40"
                             data-hoffset="0"
                             data-width=”auto”
                             data-height=”auto”
                             data-whitespace=”[‘nowrap’,’normal’,’normal’,’normal’]”
                             data-transform_idle="o:1;"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:700;"
                             data-start="950"
                             data-splitin=”none”
                             data-splitout=”none”
                             data-responsive_offset=”on”
                             data-fontsize="['36','34','30','20']"
                             data-lineheight="['120','100','90','80']"
                             style="z-index: 100; background: black; margin-bottom: 500px; opacity: 10; height: 100px; width: 500px; text-align: left; font-color: #3D9FC4; position: absolute; padding-left: 25px;"><%= link_to featured_project.name, project_path(featured_project) %>    <i class="fa fa-angle-right" aria-hidden="true"></i>

                        </div>
                     </li>
                     <% end %>
                  </ul>
                  <div class="tp-bannertimer"></div>
               </div>
            </div>
         </section>
         </div>
         <!-- /Revolution Slider -->

         <!--  Portfolio Block  -->
         <section id="portfolio" class="e-block e-block-skin pt-section" data-stellar-background-ratio="0.5" data-name="Portfolio">
            <div class="light">

               

               <div class="dividewhite4"></div>

               <div class="grid container-fluid" style="width: 115%;">

                  <div id="posts" class="row popup-container">
                    <% first = "#3D9FC4" %>
                    <% second = "white" %>
                  <% @projects.each_slice(4) do |row| %>
                    <% row.each_with_index do |project, i| %>
                    <div class="grid-item posters grid-sizer media-objects misc col-lg-3 col-md-4 col-sm-6 nopadding" style="background: <%= first %>; height: 234px; width: 265px;">
                        <div class="item-wrap">
                           <% if i.even? %>
                           <figure class="my-effect-goliath">
                                <div style="background: <%= first %>; height: 234px; width: 240px">
                                  <figcaption>
                                     <div class="fig-description">
                                        <h3><%= project.name %></h3>
                                        <p><%= project.one_liner %></p>
                                     </div>
                                     <%= link_to 'view more', project_path(project)%>
                                  </figcaption>
                                </div>     
                               </figure>
                            <% else %>
                                <figure class="my-effect-goliath">
                                <div style="background: <%= second %>; height: 234px; width: 265px;">
                                  <figcaption>
                                     <div class="fig-description">
                                        <h3><%= project.name %></h3>
                                        <p><%= project.one_liner%></p>
                                     </div>
                                     <%= link_to link_to 'view more', project_path(project) %>
                                  </figcaption>
                                </div>                          
                               </figure>
                            <% end %>
                        </div>
                     </div>
                        <% end %>
                            <% first,second = second,first %>
                     <% end %>
                  </div>

               </div>

            </div>
         </section>
         <!-- /Portfolio Block  -->

      </div>
      <!-- /Content Sections -->

   </div>
   <!-- /Content -->

</div>
<div id="image-cache" class="hidden"></div>

<%=link_to 'login with gmail', "/auth/#{:google_oauth2}"%>
