<section id="port-item-details">
  <div class="container-fluid padding-side-60" id="profile-page">

    
     <div class="post-header">
        <div class="e-divider-2"></div>
     </div>
     <div class="e-divider-4"></div>
     <div class="row profile-row">
        <div class="col-md-4">
          <div id="show-avatar">
            <%= image_tag @project.screenshot, class: "img-responsive", id: "screenshot-pic", style: "padding-bottom: 20px;"%>
         </div>
           <div id="technologies">
            <%= render partial: "projects/technologies", locals: {technologies: @project.technologies} %>
           </div>
           <div class="e-divider-4"></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <h3 class="font-accident-two-normal e-uppercase">
            <%= @project.name %>
            <% if @project.users.include?(current_user) %>
              <a href="<%= edit_project_path(@project) %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <% end %>
          </h3>
          <div class="e-divider-2"></div>
            <p>
              <%= @project.description %>
            </p>
            <div class="e-divider-2"></div>
            <h5><span class="flatiron-color">//</span> <%= link_to "visit the app", @project.deployed_url %></h5>
            <% @project.github_repos.each do |r| %>
              <h5><span class="flatiron-color">//</span> <%= link_to "view the code on GitHub", r %></h5>
            <% end %>
        </div>
      </div>
    </div>
<%= render partial: "projects/collaborators", locals: {project: @project} %>

