<!-- Feedback Block -->
         <section id="feedback-block" class="e-block-regular text-center bg-color01" style="padding-top: 50px">
           <h3 class="font-accident-two-normal e-uppercase text-center" id='add-user'>Add User</h3>
            <div class="add-user">

            <div class="container">
               <div>
                  <div class="e-divider-1"></div>
                  <p class="small fontcolor-medium text-center">
                      Add a User's first name, last name, and email address so they can add projects to the gallery
                  </p>

                    <div class="panel panel-success custom" id='user-panel'>
                      successfully added!
                      <span class="glyphicon glyphicon-ok fa-1x" style='left:15px'></span>
                    </div>


                    <div class="panel custom" style='color:red;' id='user-panel-fail'>
                      oh no, something went wrong. please try that again
                    <span class="glyphicon glyphicon-remove fa-1x" style='left:15px'></span>
                      </div>

               </div>
               <div class="e-divider-4"></div>
               <div class="row">
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-8 e-centered wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
                     <div class="e-divider-2"></div>
                     <div id="form-messages"></div>
                       <%= form_for User.new, remote: true, class: "wpcf7-form" do |f| %>
                          <div class="field">
                             <%= f.text_field :first_name, placeholder: "first name" %>
                          </div>
                          <div class="field">
                             <%= f.text_field :last_name, placeholder: "last name" %>
                          </div>
                          <div class="field">
                             <%= f.text_field :email, placeholder: "example@gmail.com" %>
                          </div>
                          <div class="field">
                            <%= f.collection_select :cohort_id, Cohort.all, :id, :name %>
                          </div>
                          <div class="e-divider-1"></div>
                          <div class="e-divider-1"></div>
                          <div class="e-divider-1"></div>
                          <div class="e-divider-2"></div>

                          <div class="field text-center">
                            <%= f.submit class: "btn btn-lg btn-blk", data_attr: 'submit-btn' %>
                          <% end %>
                        </div>
                     </form>
                  </div>
                </div>
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-12 divider-dynamic"></div>
               </div>
            </div>
            <!-- <div class="e-divider-4"></div> -->

         </section>
         <!-- /Feedback Block -->
