<!-- Feedback Block -->
         <section id="feedback-block" class="e-block-regular text-center bg-color01" style="padding-top: 50px">
           <h3 class="font-accident-two-normal e-uppercase text-center" id='add-project'>Add Project</h3>
            <div class="add-project">

            <div class="container">
               <div>
                  <div class="e-divider-1"></div>
                  <p class="small fontcolor-medium text-center">
                      add a brief description of your project, along with the link to the repo and the link to the deployed site. <br> We'll handle getting a screenshot of your app for you, or you can upload your own picture in 300 X 250 px. .
                  </p>
                  <p id="panel-update">

                  </p>
               </div>
               <div class="e-divider-4"></div>
               <div class="row">
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-8 e-centered wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
                     <div class="e-divider-2"></div>
                     <div id="form-messages"></div>
                       <%= form_for Project.new, :builder => ProjectFormBuilder, remote: true, class: "wpcf7-form" do |f| %>
                          <div class="field">
                             <%= f.text_field :name, placeholder: "name" %>
                          </div>
                          <div class="e-divider-1"></div>
                          <div class="field">
                             <%= f.text_field :deployed_url, placeholder: "deployed url" %>
                          </div>
                          <div class="e-divider-1"></div>
                          <div class="field">
                            <%= f.github_repo_fields %>
                          </div>
                          <p style="font-style: italic; font-size: 14px">*If your project includes two repos, for example, an API as well as a separate front-end application, add them both here. Adding just one repo is okay too!</p>
                          <div class="e-divider-1"></div>
                          <div class="field">
                             <!--<label for="message">Message:</label>-->
                             <%= f.text_area :description, placeholder: "add your description here...", rows: "7", cols: "30", required: "true" %>
                          </div>
                          <div class="e-divider-1"></div>
                          <div class="e-divider-2"></div>

                          <div class="field text-center">
                            <%= f.submit class: "btn btn-lg btn-blk", data_attr: 'submit-btn' %>
                          <% end %>
                        </div>
                     </form>
                  </div>
                </div>
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-12 divider-dynamic"></div>
               </div>
            </div>
            <div class="e-divider-4"></div>

         </section>
         <!-- /Feedback Block -->
