<!DOCTYPE html>
<html>
  <head>
    <title>FlatironGallery</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag "flatiron_school_slashes_transparent_background.png" %>
  </head>

  <body>
    <div id="preloader"><%=image_tag 'preloader.gif'%></div>

   <!-- Sidebar -->
   <!-- /#sidebar-wrapper -->

   <!-- Content -->
   <div id="page-content-wrapper" class="content-wrap">
     <%= render partial: 'layouts/sidebar' %>

      <!-- Header -->
      <%= yield %>
    </div>
  </body>
</html>
