<!DOCTYPE html>
<html>
  <head>
    <title>FlatironGallery</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="preloader"><%=image_tag 'preloader.gif'%></div>
      <div id="wrapper" class="">
        <a href="#menu-toggle" class="" id="menu-toggle"><span class="" aria-hidden="true"></span></a>

   <!-- Sidebar -->
     <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
           <li class="e-divider-4"></li>
           <li class="sidebar-brand">
            <%=image_tag "logo01.png", width: "180", alt: "logo"%>
           </li>
           <li class="e-divider-4"></li>
           <li><a href="index.html" class="current">Home</a></li>
           <li><a href="about.html">About</a></li>
           <li><a href="portfolio.html">Portfolio</a></li>
           <li><a href="blog.html">Blog</a></li>
           <li><%=link_to 'login with gmail', "/auth/#{:google_oauth2}"%>
</li>
        </ul>
        <div class="e-divider-4"></div>
        <div class="side-widget">
           <h6 class="font-accident-one-bold color03 e-uppercase">Visual Impact</h6>
           <p class="small">
              There are many variations of passages of Lorem Ipsum available.
           </p>
        </div>
        <div class="side-widget">
           <h6 class="font-accident-one-bold color03 e-uppercase">Subscribe to news</h6>
           <input>
        </div>
        <div class="bottom-widget">
           <p class="small">
              © 2016 Folius LLC.
           </p>
           <p class="small color04">
              Port Orange 23645, Florida USA
              Tel: 1 234 345 45 35
           </p>
           <div>
              <a href="#!"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              <a href="#!"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
              <a href="#!"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
              <a href="#!"><i class="fa fa-vimeo-square" aria-hidden="true"></i></a>
              <a href="#!"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
              <a href="#!"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              <a href="#!"><i class="fa fa-tumblr-square" aria-hidden="true"></i></a>
           </div>
        </div>
     </div>
   <!-- /#sidebar-wrapper -->

   <!-- Content -->
   <div id="page-content-wrapper" class="content-wrap">

      <!-- Header -->
      <header class="cbp-af-header toggled">
         <div class="cbp-af-inner">
            <div class="navbar navbar-default" role="navigation">
               <div class="container-fluid padding-side-50">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <nav class="collapse navbar-collapse navbar-ex1-collapse">
                     <ul class="nav navbar-nav navbar-right">
                        <li><a href="portfolio-item.html">Product One</a></li>
                        <li class="dropdown">
                           <a class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                           <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li><a href="#">Separated link</a></li>
                           </ul>
                        </li>
                        <li><a href="contact.html">Feedback</a></li>
                     </ul>
                  </nav><!-- /.navbar-collapse -->
               </div>
            </div>
         </div>
      </header>
    <%= yield %>
    </div>
  </body>
</html>



